@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
a {
  text-decoration: none;
}


.btn {
  display: inline-block;
  color: white;
  background-color: #2acfcf;
  text-transform: capitalize;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn.btn-sm {
  padding: 7px 21px;
}

.btn.btn-lg {
  padding: 12px 36px;
}

.btn.btn-plus-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.btn.btn-plus-icon .icon {
  font-size: 22px;
}

.btn:hover {
  background-color: #6be1e1;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.flex-ver-top {
  align-items: flex-start;
}

.scale-effect:active {
  transform: scale(0.88);
  transition: 0.2s;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-size: 35px;
}

@media (max-width: 500px) {
  .section-header h2 {
    font-size: 26px;
  }
}

@media (max-width: 280px) {
  .section-header h2 {
    font-size: 22px;
  }
}

.section-header p {
  width: 50%;
  margin: 7px auto 0;
}

@media (max-width: 992px) {
  .section-header p {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .section-header p {
    width: 100%;
  }
}

.container {
  position: relative;
  width: 78%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    width: 90%;
  }
}

.header {
  padding: 45px 0;
  background: #28282c;
}

.header .main-navgation {
  flex: 1;
  gap: 0;
}

@media (max-width: 992px) {
  .header .main-navgation {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 0;
    z-index: 999;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 0 33.33333px;
    border-radius: 10px;
    background-color: #3b3054;
    transition: height 0.3s;
  }
}

@media (max-width: 767px) {
  .header .main-navgation {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .header .main-navgation {
    width: 100%;
  }
}

@media (max-width: 280px) {
  .header .main-navgation {
    padding: 0 25px;
  }
}

.header .main-navgation > div {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 992px) {
  .header .main-navgation > div {
    flex-direction: column;
    width: 100%;
    padding: 33.33333px 0;
  }
}

@media (max-width: 280px) {
  .header .main-navgation > div {
    padding: 25px 0;
  }
}

.header .nav-buttons .btn {
  color: #fff;
  width: 80%;
}

@media (max-width: 375px) {
  .header .nav-buttons .btn {
    width: 100%;
  }
}

.header .burger-menu {
  font-size: 22px;
  color: #9e9aa7;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .header .burger-menu {
    display: block;
  }
}

.main-navgation a {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  transition: 0.3s;
}

.main-navgation a:hover {
  color: #232127;
}

@media (max-width: 992px) {
  .main-navgation a {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 16px;
  }
  .main-navgation a:hover {
    color: #2acfcf;
  }
}

.header .main-navgation {
  flex: 1;
  gap: 0;
}

@media (max-width: 992px) {
  .header .main-navgation {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 0;
    z-index: 999;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 0 33.33333px;
    border-radius: 10px;
    background-color: #3b3054;
    transition: height 0.3s;
  }
}

@media (max-width: 767px) {
  .header .main-navgation {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .header .main-navgation {
    width: 100%;
  }
}

@media (max-width: 280px) {
  .header .main-navgation {
    padding: 0 25px;
  }
}

.header .main-navgation > div {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 992px) {
  .header .main-navgation > div {
    flex-direction: column;
    width: 100%;
    padding: 33.33333px 0;
  }
}

@media (max-width: 280px) {
  .header .main-navgation > div {
    padding: 25px 0;
  }
}
.header .nav-buttons .btn {
  color: #fff;
  width: 80%;
}

@media (max-width: 375px) {
  .header .nav-buttons .btn {
    width: 100%;
  }
}

.header .burger-menu {
  font-size: 22px;
  color: #9e9aa7;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .header .burger-menu {
    display: block;
  }
}

.container-nav {
  width: 100%;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
      background: #28282c;
  height: 12%;
  display: flex;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  height: 10vh;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

header {
  width: 100%;
}

.info-wrapper {
  padding: 30px;
  width: 100%;
  background: #28282c;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.headline {
  font-size: clamp(32px, 4vw, 80px);
}

.subhead {
  font-size: clamp(16px, 4vw, 24px);
}

.article-meta {
  display: inline-block;
  padding: 10px;
  margin-top: 30px;
  font-size: clamp(14px, 3vw, 18px);
}

#author-avatar {
  width: 100px;
  height: 100px;
}

.byline {
  font-weight: 600;
}

.dateline {
  font-style: italic;
  font-weight: 400;
  font-size: clamp(14px, 2.8vw, 16px);
}

.article-tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  padding: 2px 10px;
  margin: 3px 1px;
  border-radius: 5px;
  background: #f36500;
}

section {
  width: 85%;
  max-width: 1000px;
  margin: 50px auto;
  padding: 8px;
}
section a{
  color: #403b3b;
font-weight: 500;
text-decoration: none;
}
.action{
  width: 100%;
      height: auto;
      padding: 15px;
      background-color: #141414;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      margin: 2em 0;
}
.action h2{
  color: #fff;
    text-transform: uppercase;
}
.action img{
  width: 30%;
    height: auto;
}
.take-action p{
  color: #CDCDCD;
}
.take-action button{
  color: #F9F9F9;
      background-color: #27B069;
      border: none;
      padding: 14px 20px;
      font-weight: 700;
      text-transform: uppercase;
          margin-top: 1.5rem;
}
section h2 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(20px, 3.5vw, 24px);
  text-transform: uppercase;
  font-weight: 600;
}
.introduction{
  font-size: clamp(16px, 2.8vw, 20px);
}
section p {
  font-family: "Poppins", sans-serif;
      font-size: clamp(16px, 2.8vw, 18px);
      font-weight: 400;
      line-height: 1.5;
      color: #403b3b;
}

figure {
  margin: 10px auto;
}
.horizontal{
  display: block;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      float: none;
      height: auto;
}
figure img {
  float: left;
  height: 300px;
  margin: 0 2em 2em 0;
}

figure figcaption {
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 2.5vw, 16px);
}

aside {
  width: 40%;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  padding-left: 0.5rem;
  margin: 10px 0;
  margin-left: 0.5rem;
}

.outside-text {
  width: 80%;
  float: none;
}

aside p {
  font-style: italic;
  color: #29627e;
  /*  background: yellow; */
  margin: 0.5rem;
}









/* Footer */
.footer {
  padding-top: 50px;
  background: #232127;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
  flex-wrap: wrap;
}

@media (max-width: 705px) {
  .footer .container {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

.footer .logo {
  flex: 1 0 auto;
}

.footer .logo img {
  filter: brightness(10);
}

.footer .quick-links {
  display: flex;
  gap: 60px;
}

@media (max-width: 705px) {
  .footer .quick-links {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
}

.footer .quick-links .links-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .links-group span {
  color: white;
  font-weight: 700;
}

.footer .links-group > div {
  display: flex;
  flex-direction: column;
  gap: 6.66667px;
}

.footer .links-group a {
  color: #bfbfbf;
  font-size: 13px;
  transition: 0.2s color;
}

.footer .links-group a:hover {
  color: cyan;
}

.footer .social-media {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 20px;
}

.footer .social-media img {
  max-width: 85%;
  transition: 0.2s transform;
}

.footer .social-media img:hover {
  transform: scale(1.1);
  filter: invert(0%) sepia(59%) saturate(6585%) hue-rotate(125deg)
    brightness(86%) contrast(85%);
}

.attribution {
  padding: 30px 0 25px 0;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

.attribution .outer-link {
  font-size: 15px;
  color: #2acfcf;
  margin-left: 2px;
  cursor: pointer;
}

.attribution .outer-link:hover {
  text-decoration: underline wavy #2acfcf 2px;
}

.attribution .social-media {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  list-style: none;
  margin-left: 5px;
}

.attribution .social-media .icon {
  font-size: 20px;
  color: #fff;
}

.attribution .social-media .image {
  width: 23px;
}

.attribution .social-media .image:hover {
  filter: none;
  background-color: none;
}
